<section class="contact" id="Contact">
  <div class="container">
    <h1 class="hidden">Contact</h1>
    <div class="contact-div">
      <div class="contact-card contact-card__anim2">
        <ul class="contact-list">
          <li><p class="contact-text">м.Дніпро</p></li>
          <li>
            <p class="contact-sub">
              вул. Семафорна 30а
            </p>
          </li>
          <li><p class="contact-date">Понеділок-неділя</p></li>
          <li><p class="contact-time">9.00 - 19.00</p></li>
        </ul>
        <address>
          <a class="contact-tel2" href="tel:+380634569660"
            >+380634569660</a
          >

          <a class="contact-mail2" href="mailto: kseniaiazmajlova90@gmail.com"
            >kseniaiazmajlova90@gmail.com</a
          >
        </address>
      </div>
    </div>

    <div class="contact-modal">
      <a class="btn contact-button contact-button__margin" href="#open-modal"
        >Ми на карті
        <svg class="contact-button__svg" width="10px" height="15px">
          <use href="./images/button-arrow.svg#icon-button-arrow"></use>
        </svg>
      </a>
      <div id="open-modal" class="modal-window">
        <div>
          <a href="#Contact" title="Close" class="modal-close">
            <svg width="15px" height="15px">
              <use href="./images/close-cross-red.svg#close"></use>
            </svg>
          </a>
          <h1>Ми тут</h1>
          <p>Ви знайшли нас</p>
          <div class="contact-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2644.2597942435173!2d35.1354111!3d48.489910099999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d957f39c637fa7%3A0x816f7ec73977a2be!2zMzBBLCDRg9C7LiDQodC10LzQsNGE0L7RgNC90LDRjywgMzDQkCwg0JTQvdC10L_RgCwg0JTQvdC10L_RgNC-0L_QtdGC0YDQvtCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsIDQ5MDAw!5e0!3m2!1sru!2sua!4v1665923516475!5m2!1sru!2sua"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <a
            href="https://chrome.google.com/webstore/detail/chroma/pkgejkfioihnchalojepdkefnpejomgn?utm_campaign=chromapromo&utm_source=codepen.io"
            target="_blank"
          ></a>
        </div>
      </div>

      <div id="open-modal-2" class="modal-window1">
        <div>
          <a href="#Contact" title="Close" class="modal-close1">
            <svg width="15px" height="15px">
              <use href="./images/close-cross-red.svg#close"></use>
            </svg>
          </a>
          <h1>Our location in Los Angeles</h1>
          <p>Find us on the map!</p>
          <div class="contact-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40494.58761394648!2d-118.25504495656529!3d34.04463511900827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c7b58e08cd13%3A0xb74eac0b89b08e66!2sFreehand%20Los%20Angeles!5e0!3m2!1suk!2sua!4v1655286517831!5m2!1suk!2sua"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <a
            href="https://chrome.google.com/webstore/detail/chroma/pkgejkfioihnchalojepdkefnpejomgn?utm_campaign=chromapromo&utm_source=codepen.io"
            target="_blank"
          ></a>
        </div>
      </div>

      <div id="open-modal-3" class="modal-window2">
        <div>
          <a href="#Contact" title="Close" class="modal-close2">
            <svg width="15px" height="15px">
              <use href="./images/close-cross-red.svg#close"></use>
            </svg>
          </a>
          <h1>Our location in New York</h1>
          <p>Find us on the map!</p>
          <div class="contact-map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10468.422405484072!2d-73.98886800985153!3d40.725069298653096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259821bab0de1%3A0xc97c4df9856335f1!2sClinton%20St.%20Baking%20Company!5e0!3m2!1suk!2sua!4v1655286593819!5m2!1suk!2sua"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <a
            href="https://chrome.google.com/webstore/detail/chroma/pkgejkfioihnchalojepdkefnpejomgn?utm_campaign=chromapromo&utm_source=codepen.io"
            target="_blank"
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
