<section class="section-reviews container"> 
    <h2 class="title_rewiews">Відгуки</h2>
    <div class="slider">
        <div class="slider__item">
            <div class="slider__box">
                <img src="./images/my/o1.jpg">
                <!-- <p class="slider__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                </p> -->
            </div> 
            <h3 class="slider__name">
                .
            </h3>
        </div>
        <div class="slider__item">
            <div class="slider__img--two"></div>
            <div class="slider__box">
                <img src="./images/my/o2.jpg">
                <!-- <p class="slider__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                </p> -->
            </div>
            <h3 class="slider__name">
                .
            </h3>
        </div>
        <div class="slider__item">
            <div class="slider__img--tree"></div>
            <div class="slider__box">
                <img src="./images/my/o3.jpg">
                <!-- <p class="slider__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.
                </p> -->
            </div>
            <h3 class="slider__name">
                Marichka, Kingston
            </h3>
        </div>
        <div class="slider__item">
            <div class="slider__img--two"></div>
            <div class="slider__box">
                <img src="./images/my/o4.jpg">
                <!-- <p class="slider__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p> -->
            </div>
            <h3 class="slider__name">
                .
            </h3>
        </div>
        <div class="slider__item">
            <div class="slider__img--two"></div>
            <div class="slider__box">
                <img src="./images/my/o5.jpg">
                <!-- <p class="slider__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p> -->
            </div>
            <h3 class="slider__name">
                .
            </h3>
        </div>
        <div class="slider__item">
            <div class="slider__img--two"></div>
            <div class="slider__box">
                <img src="./images/my/o6.jpg">
                <!-- <p class="slider__text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p> -->
            </div>
            <h3 class="slider__name">
                .
            </h3>
        </div>
    </div>
   </section>